/* adding universal stuff with "*" and setting it to 0
so that we can add our own when necessary */
/* adding general CSS starts */
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: "Josefin Sans", serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

.form-container {
  display: block;
  width: 40vw;
  height: 80vh;
  padding-bottom: 100px;
}

/* Blind lines */
form {
  border: 3px solid #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 40px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 15px;
}

.container button {
  background-color: maroon;
  color: white;
  padding: 10px 20px;
  margin: 15px 0 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 10px 20px;
}

span.psw {
  float: right;
  display: block;
}

label {
  padding: 5px;
  float: left;
  font-size: 20px;
}

div.existing-user {
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 20px 20px 40px 20px;
  border: none;
}

.existing-user button {
  background-color: #005b90;
  color: white;
  padding: 10px 20px;
  border: none;
  display: block;
  cursor: pointer;
  margin: auto;
  margin-top: 15px;
  width: 15%;
  font-size: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

span.existing-user-text {
  font-size: 20px;
}
